<!DOCTYPE html>
<html>
  <head>
	  <title>きもちのレシピ</title>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
	  <%= stylesheet_link_tag 'application', media: 'all',
		  'data-turbolinks-track' => true %>
  </head>
  <body>
	  <div id="main">
	   <div class='title'>
		   <%= image_tag("title.gif") %>
           </div>
   </div>
   <div class="content">
	   <div class="left">
		   <div class="tyumoku-left">注目の記事</div>
                   <% @all_contents.each do |contents| %>
		   <div class="article-left">
		   <%= image_tag(url_for(:action => 'get_image', :id => contents.id), :class => "main_img")%>
		   <div>
			   <%= link_to "#{contents.title}", { :controller => "top_pages", :action => "show",:id => contents.id }, :class => "article_title" %>
	           </div>
	           </div>
	           <% end %>
           </div>
	   <div class="right">
		   <div class="tyumoku-left">今のきもちから選ぶ</div>
		   <%= link_to "たのしい", { :controller => "top_pages", :action => "home" }, :class => "btn_happy" %>
		   <%= link_to "かなしい", { :controller => "top_pages", :action => "home" }, :class => "btn_sad" %>
		   <%= link_to "いそがしい", { :controller => "top_pages", :action => "home" }, :class => "btn_busy" %>
		   <%= link_to "すき", { :controller => "top_pages", :action => "home" }, :class => "btn_love" %>
           </div>
         
   </div>
  </body>
</html>
